@model LibroViewModel

@{
    ViewData["Title"] = "Borrar";
}
|
<div class="container mt-3">
    <h3>¿Está seguro de que desea eliminar el libro @Model.GsNombreLibro?</h3>

    <form asp-controller="Libro" asp-action="Eliminar">
        <input type="hidden" asp-for="GsIdLibro" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-primary">Cancelar</a>
    </form>

</div>
